* {
  box-sizing: border-box;
}

.title {
	font-family: Courier;
	font-size: 33;
	color: #707070;
  	height: 100px;
  	width: 300px;
  	padding: 20px 10px 10px 10px;
  	margin-left: 35px;
}

#syntax {
  color: #996666;
}

.headerimage {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
}

@media only screen and (max-width: 320px) {
	article{
		font-size: 16px;
	}
}
