* {
  box-sizing: border-box;
}

.title {
  grid-area: 1 / 9;
	font-family: Courier;
	font-size: 33;
  color: #707070;
  position: relative;
  height: 100px;
  width: 300px;
  padding: 20px 10px 10px 10px;
  text-align: right;
  display: inline-block;
  z-index: 1;
  float: right;
  right: 100px;
  top: -10px;
}

.navbar {
  background-color: rgba(102, 153, 153, 0.95);
  position: relative;
  float: left;
  z-index: 1;
  height: 1000px;
  width: 165px;
}

.navigation {
  float: left;
  z-index: 1;
  display: table-cell;
  position: relative;
  text-decoration: none;
  background-color: hsl(180, 33%, 60%, 95%);
}

#syntax {
  color: #996666;
}

.headerimage {
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
  position: absolute;
  z-index: 0;
}

.body {
  display: block;
  position: relative;
  z-index: 1;
}

li {
  display: block;
}

@media only screen and (max-width: 320px) {
	article{
		font-size: 16px;
	}
}
